.calculatorButton {
    background-color: #b5b5b5;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-left-radius: 20px;

    border: 0px solid #858585;
    display: inline-block;
    color: #000000;
    font-family: arial;
    font-size: 24px;
    font-style: normal;
    height: 70%;
    line-height: 70px;
    width: 70px;
    text-align: center;
}

.calculatorButtonOperation {
    background-color: #fe9d11;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-left-radius: 20px;

    border: 0px solid #858585;
    display: inline-block;
    color: #000000;
    font-family: arial;
    font-size: 24px;
    font-style: normal;
    height: 70%;
    line-height: 70px;
    width: 70px;
    text-align: center;
}

.calculatorButton:hover {
    background-color: #838282;
}

.calculatorButton:active {
    background-color: #838282;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.calculatorButtonOperation:hover {
    background-color: #c57b13;
}

.calculatorButtonOperation:active {
    background-color: #c57b13;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.tableCalculator {
    padding-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-collapse: separate;
    border-spacing: 14px 14px;
    word-break: break-word;
}

.tableResult {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;

    border-collapse: separate;
    border-spacing: 14px 14px;
    max-width: 200px;
    width: 80% !important;
    word-break: break-word;
}

.td {
    padding: 10px;
}

.resultLabel {
    display: block;
    text-align: center;
    line-height: 150%;
    color: white;
    font-family: arial;
    font-size: 24px;
    font-style: normal;
}

.divCalc {
    padding-top: 3%;
    background-color: rgb(0, 0, 0);
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-top-left-radius: 25px;
    -moz-border-radius-topleft: 25px;
    border-top-left-radius: 25px;
    -webkit-border-top-right-radius: 25px;
    -moz-border-radius-topright: 25px;
    border-top-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-bottomright: 25px;
    border-bottom-right-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-bottom-left-radius: 25px;
    overflow: hidden;
}

.divCalc table {
    
    max-width: 400px;
    width: 100% !important;
}

.divResult {
    background-color: rgb(66, 66, 66);
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-top-left-radius: 25px;
    -moz-border-radius-topleft: 25px;
    border-top-left-radius: 25px;
    -webkit-border-top-right-radius: 25px;
    -moz-border-radius-topright: 25px;
    border-top-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-bottomright: 25px;
    border-bottom-right-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-bottom-left-radius: 25px;
    overflow: hidden;
}

